[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "setartree"]
	path = setartree
	url = https://github.com/rakshitha123/setartree
	subdir = setartree
